.films{
    padding:20px;
    h2{
        text-transform: uppercase;
    }


    .filmsGallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
        gap:10px;

        &__items{
            img{
                width: 300px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;               
            }

        }
    }
}